<div class="modal-header">
    <h4 class="modal-title" >
    
    </h4>
  
    <button aria-label="Close" data-dismiss="modal" class="btn-close" type="button" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body pad">
    <div >
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-category-heading" data-cy="CategoryCreateUpdateHeading" jhiTranslate="jokegeneratorApp.category.home.createOrEditLabel">
              Create or edit a Category
            </h2>
      
            <div>
              <jhi-alert-error></jhi-alert-error>
      
              <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
                <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
              </div>
      
              <div class="row mb-3">
                <label class="form-label" jhiTranslate="jokegeneratorApp.category.name" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
                <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                  </small>
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('name')?.errors?.maxlength"
                    jhiTranslate="entity.validation.maxlength"
                    [translateValues]="{ max: 255 }"
                  >
                    This field cannot be longer than 255 characters.
                  </small>
                </div>
              </div>
            </div>
      
            <div>
              <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
              </button>
      
              <button
                type="submit"
                id="save-entity"
                data-cy="entityCreateSaveButton"
                [disabled]="editForm.invalid || isSaving"
                class="btn btn-primary"
              >
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
              </button>
            </div>
          </form>
    </div>
  </div>
  
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-secondary float-start" type="button" (click)="dismiss()">Done</button>
  </div>