

<div>


  <h2 id="page-heading" data-cy="CategoryHeading">
    <span jhiTranslate="jokegeneratorApp.category.home.title">Categories</span>
    <div class="spinner-border" role="status" *ngIf="showLoader">
      <span class="sr-only" id="loadbar"></span>
    
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jokegeneratorApp.category.home.refreshListLabel">Refresh List</span>
      </button>

      <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-category"
       (click)="showHealth()"
      >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="jokegeneratorApp.category.home.createLabel"> Create a new Category </span>
    </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
    <span jhiTranslate="jokegeneratorApp.category.home.notFound">No categories found</span>
  </div>
<div class="row">
  <div class="col-md-6">
  <div class="table-responsive" id="entities" *ngIf="categories && categories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="jokegeneratorApp.category.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; trackBy: trackId" data-cy="entityTable" (click)='showContent(category)'>
          <td  >
            <a >{{ category.id }}</a>
          </td>
          <td>{{ category.name }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/category', category.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/category', category.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(category)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-md-6"  >
  <div >
    <h2 data-cy="categoryDetailsHeading"><span jhiTranslate="jokegeneratorApp.joke.home.title">Category</span></h2>

    <hr />

 

    <dl class="row-md jh-entity-details" *ngIf='cat' >
      <dt><span jhiTranslate="global.field.id">ID</span></dt>
      <dd>
        <span >{{ cat.id }}</span>
      </dd>
     
      <dt><span jhiTranslate="jokegeneratorApp.joke.home.title">Jokes</span></dt>
  
        <dd *ngFor="let joke of cat.jokes"  >
          <span >{{ joke.title}}</span>
        </dd>
      
    </dl>
    
  </div>
</div>
</div>


  <div *ngIf="categories && categories.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>

