<div class="modal-header">
    <h4 class="modal-title" >
    
    </h4>
  
    <button aria-label="Close" data-dismiss="modal" class="btn-close" type="button" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body pad">
    <div >
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-joke-heading" data-cy="JokeCreateUpdateHeading" jhiTranslate="jokegeneratorApp.joke.home.createOrEditLabel">
              Create or edit a Joke
            </h2>
      
            <div>
              <jhi-alert-error></jhi-alert-error>
      
              <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
                <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
              </div>
      
              <div class="row mb-3">
                <label class="form-label" jhiTranslate="jokegeneratorApp.joke.category" for="field_category">Category</label>
                <select class="form-control" id="field_category" data-cy="category" name="category" formControlName="category">
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="categoryOption.id === editForm.get('category')!.value?.id ? editForm.get('category')!.value : categoryOption"
                    *ngFor="let categoryOption of categoriesSharedCollection; trackBy: trackCategoryById"
                  >
                    {{ categoryOption.name }}
                  </option>
                </select>
              </div>
              <div class="row mb-3">
                <label class="form-label" jhiTranslate="jokegeneratorApp.joke.title" for="field_title">Title</label>
                <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
                <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                  </small>
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('title')?.errors?.maxlength"
                    jhiTranslate="entity.validation.maxlength"
                    [translateValues]="{ max: 255 }"
                  >
                    This field cannot be longer than 255 characters.
                  </small>
                </div>
              </div>
      
              <div class="row mb-3">
                <label class="form-label" jhiTranslate="jokegeneratorApp.joke.content" for="field_content">Content</label>
                <textarea class="form-control" name="content" id="field_content" data-cy="content" formControlName="content"></textarea>
                <div *ngIf="editForm.get('content')!.invalid && (editForm.get('content')!.dirty || editForm.get('content')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('content')?.errors?.maxlength"
                    jhiTranslate="entity.validation.maxlength"
                    [translateValues]="{ max: 500 }"
                  >
                    This field cannot be longer than 500 characters.
                  </small>
                </div>
              </div>
      
              <!-- <div class="row mb-3">
                <label class="form-label" jhiTranslate="jokegeneratorApp.joke.rating" for="field_rating">Rating</label>
                <input type="number" class="form-control" name="rating" id="field_rating" data-cy="rating" formControlName="rating" />
              </div> -->
      
             
            </div>
      
            <div>
              <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
              </button>
      
              <button
                type="submit"
                id="save-entity"
                data-cy="entityCreateSaveButton"
                [disabled]="editForm.invalid || isSaving"
                class="btn btn-primary"
              >
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
              </button>
            </div>
          </form>
    </div>
  </div>
  
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-secondary float-start" type="button" (click)="dismiss()">Done</button>
  </div>