<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="joke">
      <h2 data-cy="jokeDetailsHeading"><span jhiTranslate="jokegeneratorApp.joke.detail.title">Joke</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ joke.id }}</span>
        </dd>
        <dt><span jhiTranslate="jokegeneratorApp.joke.title">Title</span></dt>
        <dd>
          <span>{{ joke.title }}</span>
        </dd>
        <dt><span jhiTranslate="jokegeneratorApp.joke.content">Content</span></dt>
        <dd>
          <span>{{ joke.content }}</span>
        </dd>
        <dt><span jhiTranslate="jokegeneratorApp.joke.rating">Rating</span></dt>
        <dd>
          <span>{{ joke.rating }}</span>
        </dd>
        <dt><span jhiTranslate="jokegeneratorApp.joke.category">Category</span></dt>
        <dd>
          <div *ngIf="joke.category">
            <a [routerLink]="['/category', joke.category?.id, 'view']">{{ joke.category?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/joke', joke.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
